# Import

In [29]:
import os
import shutil

import pandas as pd

In [3]:
path = "/workspace/Storage/ninja-turtles/Data/pred_OD_baseline_test"
paths = [os.path.join(path, x) for x in os.listdir(path)]

In [13]:
columns = ['label', 'x', 'y', 'w', 'h', 'confidence']
df = pd.DataFrame()
for p in paths:
    with open(p, 'r') as f:
        d = list(map(lambda x: x.strip().split(' '), f.readlines()))
    df_ = pd.DataFrame(d, columns = columns)
    df_['path'] = p
    df = pd.concat([df, df_])
df = df.reset_index(drop=True)

# analysis

분포 확인

In [18]:
df.groupby(by='label').count()

           x      y      w      h  confidence   path
label
0      38113  38113  38113  38113       38113  38113
1      13259  13259  13259  13259       13259  13259
10      3472   3472   3472   3472        3472   3472
11       152    152    152    152         152    152
12      3066   3066   3066   3066        3066   3066
13       956    956    956    956         956    956
2       4983   4983   4983   4983        4983   4983
3      31242  31242  31242  31242       31242  31242
4       4362   4362   4362   4362        4362   4362
5       2322   2322   2322   2322        2322   2322
6       3958   3958   3958   3958        3958   3958
7      13415  13415  13415  13415       13415  13415
8       4774   4774   4774   4774        4774   4774
9      13708  13708  13708  13708       13708  13708

가장 적은 라벨 수(152) 만큼 샘플링

In [19]:
df_sampled = df.groupby('label').apply(lambda x: x.sample(n=152, random_state=42)).reset_index(drop=True)

/tmp/ipykernel_154874/3198659537.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_sampled = df.groupby('label').apply(lambda x: x.sample(n=152, random_state=42)).reset_index(drop=True)

In [21]:
df_sampled.groupby(by='label').count()

         x    y    w    h  confidence  path
label
0      152  152  152  152         152   152
1      152  152  152  152         152   152
10     152  152  152  152         152   152
11     152  152  152  152         152   152
12     152  152  152  152         152   152
13     152  152  152  152         152   152
2      152  152  152  152         152   152
3      152  152  152  152         152   152
4      152  152  152  152         152   152
5      152  152  152  152         152   152
6      152  152  152  152         152   152
7      152  152  152  152         152   152
8      152  152  152  152         152   152
9      152  152  152  152         152   152

총 라벨링 파일 수

In [28]:
len(df_sampled['path'].unique())

1855

라벨링 대상 이미지 세트 생성

In [32]:

for pp in df_sampled['path'].unique():
    pp = pp.replace('.txt','.jpg').replace("pred_OD_baseline_test","test/images")
    tp = pp.replace("test","labeling_OD")
    shutil.copy(pp,tp)
    # print(pp,tp)