# Import

In [1]:
import os
import shutil
from collections import Counter

import pandas as pd

In [3]:
path = "/workspace/Storage/ninja-turtles/Data/pred_OD_baseline_test"
paths = [os.path.join(path, x) for x in os.listdir(path)]

In [13]:
columns = ['label', 'x', 'y', 'w', 'h', 'confidence']
df = pd.DataFrame()
for p in paths:
    with open(p, 'r') as f:
        d = list(map(lambda x: x.strip().split(' '), f.readlines()))
    df_ = pd.DataFrame(d, columns = columns)
    df_['path'] = p
    df = pd.concat([df, df_])
df = df.reset_index(drop=True)

# analysis

분포 확인

In [18]:
df.groupby(by='label').count()

           x      y      w      h  confidence   path
label
0      38113  38113  38113  38113       38113  38113
1      13259  13259  13259  13259       13259  13259
10      3472   3472   3472   3472        3472   3472
11       152    152    152    152         152    152
12      3066   3066   3066   3066        3066   3066
13       956    956    956    956         956    956
2       4983   4983   4983   4983        4983   4983
3      31242  31242  31242  31242       31242  31242
4       4362   4362   4362   4362        4362   4362
5       2322   2322   2322   2322        2322   2322
6       3958   3958   3958   3958        3958   3958
7      13415  13415  13415  13415       13415  13415
8       4774   4774   4774   4774        4774   4774
9      13708  13708  13708  13708       13708  13708

가장 적은 라벨 수(152) 만큼 샘플링

In [19]:
df_sampled = df.groupby('label').apply(lambda x: x.sample(n=152, random_state=42)).reset_index(drop=True)

/tmp/ipykernel_154874/3198659537.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_sampled = df.groupby('label').apply(lambda x: x.sample(n=152, random_state=42)).reset_index(drop=True)

In [21]:
df_sampled.groupby(by='label').count()

         x    y    w    h  confidence  path
label
0      152  152  152  152         152   152
1      152  152  152  152         152   152
10     152  152  152  152         152   152
11     152  152  152  152         152   152
12     152  152  152  152         152   152
13     152  152  152  152         152   152
2      152  152  152  152         152   152
3      152  152  152  152         152   152
4      152  152  152  152         152   152
5      152  152  152  152         152   152
6      152  152  152  152         152   152
7      152  152  152  152         152   152
8      152  152  152  152         152   152
9      152  152  152  152         152   152

총 라벨링 파일 수

In [28]:
len(df_sampled['path'].unique())

1855

라벨링 대상 이미지 세트 생성

In [32]:

for pp in df_sampled['path'].unique():
    pp = pp.replace('.txt','.jpg').replace("pred_OD_baseline_test","test/images")
    tp = pp.replace("test","labeling_OD")
    shutil.copy(pp,tp)
    # print(pp,tp)

### 라벨링 예시 이미지 생성

In [18]:
import sys
sys.path.append("../")

from utils.bbox_visualization import draw_bbox

In [6]:
path = "/home/snaiws/Storage/ninja-turtles/Data/raw/train/labels"
paths = [os.path.join(path, x) for x in os.listdir(path)]

In [7]:
columns = ['label', 'x', 'y', 'w', 'h']
df = pd.DataFrame()
for p in paths:
    with open(p, 'r') as f:
        d = list(map(lambda x: x.strip().split(' '), f.readlines()))
    df_ = pd.DataFrame(d, columns = columns)
    df_['path'] = p
    df = pd.concat([df, df_])
df = df.reset_index(drop=True)

In [8]:
df.groupby(by='label').count()

           x      y      w      h   path
label
0      24321  24321  24321  24321  24321
1       4013   4013   4013   4013   4013
10       272    272    272    272    272
11        20     20     20     20     20
12       303    303    303    303    303
13        24     24     24     24     24
2       3461   3461   3461   3461   3461
3      32546  32546  32546  32546  32546
4       4487   4487   4487   4487   4487
5        771    771    771    771    771
6       2735   2735   2735   2735   2735
7       2979   2979   2979   2979   2979
8        368    368    368    368    368
9      11317  11317  11317  11317  11317

In [9]:
df_sampled = df.groupby('label').apply(lambda x: x.sample(n=20, random_state=42)).reset_index(drop=True)

/tmp/ipykernel_36037/2296036113.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_sampled = df.groupby('label').apply(lambda x: x.sample(n=20, random_state=42)).reset_index(drop=True)

In [10]:
df_sampled.groupby(by='label').count()

        x   y   w   h  path
label
0      20  20  20  20    20
1      20  20  20  20    20
10     20  20  20  20    20
11     20  20  20  20    20
12     20  20  20  20    20
13     20  20  20  20    20
2      20  20  20  20    20
3      20  20  20  20    20
4      20  20  20  20    20
5      20  20  20  20    20
6      20  20  20  20    20
7      20  20  20  20    20
8      20  20  20  20    20
9      20  20  20  20    20

In [15]:
path_label = "/home/snaiws/Storage/ninja-turtles/Data/raw/train/classes.txt"
with open(path_label, 'r') as f:
    dict_label = dict(enumerate([x.strip() for x in f.readlines()]))

df_sampled['label'] = df_sampled['label'].map(lambda x: dict_label[int(x)])

In [16]:
df_sampled

,label,x,y,w,h,path
0,veh_go,0.437109,0.568359,0.052344,0.029948,/home/snaiws/Storage/ninja-turtles/Data/raw/tr...
1,veh_go,0.505859,0.632639,0.013281,0.009722,/home/snaiws/Storage/ninja-turtles/Data/raw/tr...
2,veh_go,0.876953,0.774089,0.021094,0.011719,/home/snaiws/Storage/ninja-turtles/Data/raw/tr...
3,veh_go,0.342578,0.942057,0.013281,0.009115,/home/snaiws/Storage/ninja-turtles/Data/raw/tr...
4,veh_go,0.765234,0.401693,0.022656,0.014323,/home/snaiws/Storage/ninja-turtles/Data/raw/tr...
...,...,...,...,...,...,...
275,ped_stop,0.869922,0.391927,0.011719,0.049479,/home/snaiws/Storage/ninja-turtles/Data/raw/tr...
276,ped_stop,0.629687,0.940104,0.009375,0.031250,/home/snaiws/Storage/ninja-turtles/Data/raw/tr...
277,ped_stop,0.845703,0.808594,0.013281,0.062500,/home/snaiws/Storage/ninja-turtles/Data/raw/tr...
278,ped_stop,0.768359,0.623611,0.010156,0.047222,/home/snaiws/Storage/ninja-turtles/Data/raw/tr...
279,ped_stop,0.723437,0.831380,0.009375,0.040365,/home/snaiws/Storage/ninja-turtles/Data/raw/tr...

In [24]:
df_sampled['path_image_prior'] = df_sampled['path'].map(lambda x: x.replace('.txt','.jpg').replace("labels","images"))

In [35]:
df_sampled['path_image_labeled'] = None
for i, row in df_sampled.iterrows():
    path_output = row['path_image_prior'].replace("raw","refer_label").replace("train/images",row['label'])
    os.makedirs(os.path.dirname(path_output), exist_ok = True)
    draw_bbox(path_image = row['path_image_prior'], path_bbox = row['path'], dict_label = dict_label, path_output = path_output)

### 라벨링 결과 처리

In [2]:
path_images = "/workspace/Storage/ninja-turtles/Data/OD/raw/labeled_0.0.1/images"
path_labels = "/workspace/Storage/ninja-turtles/Data/OD/raw/labeled_0.0.1/labels"

In [3]:
labels = [os.path.join(path_labels, x) for x in os.listdir(path_labels)]

In [4]:
df = pd.DataFrame()
for i in labels:
    with open(i, 'r') as f:
        data = [x.strip().split() for x in f.readlines()]
    df_ = pd.DataFrame(data)
    df_['path'] = i
    df = pd.concat([df, df_])
df.columns = ['label_r', 'x', 'y', 'w', 'h', 'path']
df = df.reset_index(drop = True)
df['label_r'] = df['label_r'].astype(int)
df['x'] = df['x'].astype(float)
df['y'] = df['y'].astype(float)
df['w'] = df['w'].astype(float)
df['h'] = df['h'].astype(float)

In [5]:
s = df['label_r'].value_counts().to_dict()
s = [x[0] for x in sorted(list(zip(s.keys(), s.values())), key = lambda x: x[1])]

In [5]:
class Node:
    def __init__(self, path, values):
        self.path = path
        self.values = values

    def __hash__(self):
        return hash(self.path)

    def __eq__(self, other):
        return self.path == other.path
    
class Group:
    def __init__(self, nodes = []):
        self.paths = []
        self.values = {}
        self.state = True
        for n in nodes:
            self.add(n)
            if self.state == False:
                break

    def add(self, n):
        self.paths.append(n.path)
        for v in n.values:
            if self.values.get(v, 0):
                self.values[v] += 1
            else:
                self.values[v] = 1
            if self.values[v]>10:
                self.state = False
                break

In [8]:
nodes = dict(df.groupby(by='path').aggregate({'label_r':list})['label_r'])
nodes = [Node(x, nodes[x]) for x in nodes]

In [6]:
df_ = df.groupby(by='path').aggregate({'label_r':list})

In [62]:
Counter(df_['label_r'].sum())

Counter({10: 137,
         7: 123,
         13: 66,
         11: 62,
         6: 60,
         2: 55,
         8: 33,
         9: 26,
         0: 24,
         4: 23,
         3: 16,
         1: 16,
         12: 11,
         5: 10})

In [63]:
Counter(df_[df_['label_r'].map(lambda x: True if 5 in x else False)].sum()['label_r'])

Counter({5: 10, 9: 9, 13: 6, 10: 3, 12: 3, 7: 1, 6: 1})

In [7]:
root = df_[df_['label_r'].map(lambda x: True if 5 in x else False)]
root = dict(root['label_r'])
root = [Node(x, root[x]) for x in root]
remains = df_[df_['label_r'].map(lambda x: False if 5 in x else True)]
remains = dict(remains['label_r'])
remains = [Node(x, remains[x]) for x in remains]

In [8]:
root = Group(root)

In [ ]:
노드로 해야하나? DFS 재귀해야하나? 후자로 먼저

In [9]:
import copy
import pdb
def get_item(nodes, root):
    # pdb.set_trace()
    result = []
    for node in nodes:
        root_ = copy.deepcopy(root)
        nodes_ = copy.deepcopy(nodes)
        nodes_.pop(nodes.index(node))
        root_.add(node)
        if root_.state:
            result.append(root_)
            roots = get_item(nodes_, root_)
            result+=roots
    return result

In [ ]:
# 하루 이상 걸림
result = get_item(remains, root)

라벨링 전처리

In [2]:
images = "/workspace/Storage/ninja-turtles/Data/OD/raw/labeled_0.0.1/images"
images = [os.path.join(images, x) for x in os.listdir(images)]
labels = "/workspace/Storage/ninja-turtles/Data/OD/raw/labeled_0.0.1/labels"
labels = [os.path.join(labels, x) for x in os.listdir(labels)]

In [26]:
images_t = [os.path.join(os.path.dirname(x).replace("raw/labeled_0.0.1","test_labeled/0.0.2"), os.path.basename(x).split('.')[0].replace("_jpg",".jpg")) for x in images]
labels_t = [os.path.join(os.path.dirname(x).replace("raw/labeled_0.0.1","test_labeled/0.0.2"), os.path.basename(x).split('.')[0].replace("_jpg",".txt")) for x in labels]

In [28]:
for i, j in zip(images, images_t):
    shutil.copy(i,j)

In [29]:
for i, j in zip(labels, labels_t):
    shutil.copy(i,j)

In [48]:
import yaml

label_class = "/workspace/Storage/ninja-turtles/Data/OD/raw/labeled_0.0.1/data.yaml"
with open(label_class, 'r', encoding='utf-8') as f:
    label_class = yaml.safe_load(f)

In [49]:
true_class = "/workspace/Storage/ninja-turtles/Data/OD/raw/train/classes.txt"
with open(true_class, 'r') as f:
    true_class = [x.strip() for x in f.readlines()]

In [50]:
label_class = dict(enumerate(label_class['names']))
true_class = dict([(x[1],x[0]) for x in enumerate(true_class)])

In [55]:
for i in label_class:
    label_class[i] = true_class[label_class[i]]

In [56]:
label_class

{0: 10,
 1: 11,
 2: 12,
 3: 13,
 4: 7,
 5: 8,
 6: 9,
 7: 0,
 8: 1,
 9: 2,
 10: 3,
 11: 4,
 12: 5,
 13: 6}

In [60]:
df = pd.DataFrame(labels_t, columns = ['path'])

In [70]:
for i, row in df.iterrows():
    with open(row['path'], 'r') as f:
        data = [x.strip().split() for x in f.readlines()]
    for l in data:
        l[0] = str(label_class[int(l[0])])
    data = '\n'.join([' '.join(x) for x in data])
    with open(row['path'], 'w') as f:
        f.write(data)
    # df[''][i] =